html {
    background-color: #fff;
}

.nav {
    padding: 10px;
    min-height: 55px;
    background-color: #f4eeec;
    display: flex;
    /* do sử dụng display cho cái main axis, mà dùng display: flex mặc định
    =flex-direction. Do đó mà các item nó sẽ nhảy sang ngang hết. */
    justify-content: space-between;
    /* can lề cho các item, tách 2 cái thẻ ul ra */
}

.nav-list {
    padding-left: 0;
    margin: auto 20px;
}

.nav-item {
    color: black;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}

.colum-layout {
    margin-top: 40px;
    padding: 12px 0;
    background: #0F298B;
    display: flex;
}

.colum-item {
    padding: 0 40px;
    flex: 1;
    color: white;
    /* flex: 1 làm cho = nhau hết cả 3 cột*/
    /* dùng order để thay đổi thứ tự sắp xếp */
}