:root {
    --primary-color: #2549D3;
    --black-color: #000;
    --text-color: #333;
    --border-color: #C4C4C4;
    --white-color: #ffff;
}

.html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    background-color: #E5E5E5;
    padding: 0;
    margin: 0;
}

.container-with {
    margin-left: 75px;
    margin-right: 75px;
}

.with {
    width: auto;
}

.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.header {
    margin-top: -10px;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar-1 {
    font-family: 'Oleo Script';
    font-style: normal;
    font-size: 2.1rem;
    font-weight: 900;
    margin-left: 80px;
}

.header__navbar-list {
    display: flex;
    list-style: none;
    padding-left: 22px;
    font-size: 1.2rem;
    margin-left: 10px;
}

.header__navbar-item header__navbar-item--success {
    color: var(--primary-color);
}

.header__navbar-link {
    font-family: 'Space Grotesk';
    text-decoration: none;
    line-height: 2rem;
    display: block;
    color: var(--black-color);
    margin: 0 24px;
}

.header__navbar-link-one {
    font-family: 'Space Grotesk';
    text-decoration: none;
    line-height: 2rem;
    display: block;
    color: var(--primary-color);
    margin: 0 24px;
}


/*block*/

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--white-color);
    padding: 8px 19px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    cursor: pointer;
    margin: 0px 90px;
    margin-left: 80px;
}

.btn--success {
    background-color: var(--primary-color);
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
}


/*footer*/

.footer {
    width: auto;
    margin-top: 7%;
}

.footer__container {
    height: 300px;
    color: var(--white-color);
    margin-top: 20px;
    padding: 12px 0;
    background-color: #0F298B;
    display: flex;
}

.footer__content {
    padding: 0 16px;
    flex: 1;
    /* flex: 1 làm cho = nhau hết cả 3 cột*/
    /* dùng order để thay đổi thứ tự sắp xếp */
}

.footer__container-one {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    margin-top: 73px;
}

.footer__text-one-size {
    font-size: 15px;
    font-weight: 0;
    font-family: 'Nunito';
    font-style: normal;
    margin-top: auto;
}

.footer__text {
    font-family: 'Nunito';
    font-style: normal;
    font-size: 15px;
    font-weight: 0;
}

.footer__container-header {
    font-family: 'Oleo Script';
    font-style: italic;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 73px;
}


/*container*/

.container {
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.content-drt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 580px;
    height: 50px;
    margin-top: -100px;
    margin-right: 10px;
}

.content-drt__header {
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 4rem;
    color: #0F298B;
    padding-left: 80px;
}

.content-drt__text {
    flex: 1;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.81);
    padding-left: 80px;
    margin-top: -15px;
}

.content-item {
    margin-top: -85px;
    margin-right: 53px;
    width: 300px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}

.content-img {
    margin-top: -100px;
    width: calc(100% + 80px);
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}


/* Container */

.container-pagination {
    margin-top: 90px;
}

.container-list {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    background-color: rgba(37, 73, 211, 0.05);
    border-radius: 10px;
    padding: 20px 36px;
}

.container-item {
    display: flex;
    flex-direction: column;
}

.container__title {
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: 800;
    color: var(--primary-color);
    font-family: 'Space Grotesk';
    font-style: normal;
    ;
}

.container__title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.container__desc {
    line-height: 2.1rem;
    font-size: 0.8rem;
    color: var(--text-color);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
}

.btn1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 10px;
    border-radius: 7px;
    border: none;
    width: 100px;
    height: 50px;
    color: var(--white-color);
    background: var(--primary-color);
    font-size: 1.2rem;
    cursor: pointer;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    gap: 10px;
    box-shadow: 12.3472px 12.3472px 24.6944px rgba(0, 0, 0, 0.1);
}


/*container_img*/

.container__header {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
}

.container__p {
    font-size: 1.4rem;
    line-height: 0.5rem;
    color: rgba(0, 0, 0, 0.81);
    margin-top: -19px;
    margin-bottom: 70px;
    font-family: 'Space Grotesk';
}

.container__address {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 40px;
}

.address__item {
    background-color: var(--white-color);
    min-height: 330px;
    width: 30%;
    padding: 30px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.address__img {
    width: 25%;
    margin-bottom: 15px;
}

.address__img--size {
    width: 13.3%;
}

.container__title2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 1000;
    text-align: center;
    margin-top: 100px;
}

.address_header {
    color: var(--black-color);
    font-size: 1.5rem;
    font-weight: 800;
    font-family: 'Space Grotesk';
    font-style: normal;
}

.address_content {
    color: var(--black-color);
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Space Grotesk';
    font-style: normal;
}


/*--------------------------------------------*/

.container__two {
    padding-top: 16%;
    display: flex;
    align-items: center;
}

.container__img2 {
    width: 600px;
    height: 400px;
    border-bottom-left-radius: 130px;
    border-top-right-radius: 130px;
    margin-top: auto;
    margin-left: 67px;
    order: 0;
}

.container__choose {
    order: 1;
    width: 600px;
    margin-top: -9%;
}

.choose__header {
    color: #0F298B;
    font-size: 1.8rem;
    font-family: 'Space Grotesk';
    font-weight: 900;
    font-style: normal;
    line-height: 10px;
    margin-left: 30%;
    margin-top: auto;
}

.choose__content {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.81);
    margin-left: 30%;
}


/*Testimonials.*/

.content-question {
    margin-top: 14%;
}

.btn2 {
    background-color: transparent;
    border: none;
    color: var(--white-color);
    padding: 8px 19px;
    border-radius: 8px;
    -webkit-border-radius: 9.5px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-left: 90%;
    margin-bottom: 2%;
}

.btn2--success {
    background-color: var(--primary-color);
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 700;
}

.section__heading {
    font-size: 2rem;
    color: var(--primary-color);
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 20px;
}

.section__sub-heading {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 19px;
    text-align: center;
    color: rgba(0, 0, 0, 0.81);
    margin-bottom: 50px;
}

.content-testimonials {
    display: flex;
    justify-content: space-between;
}

.testimonials-list {
    flex-basis: 27%;
    text-align: left;
    background-color: var(--white-color);
    padding: 12px;
    border-radius: 5px;
    margin-bottom: auto;
}

.testimonials-heading {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
}

.testimonials-sub-heading {
    margin: 0 0 -6px;
    font-size: 1.5em;
    line-height: 3rem;
}

.testimonials-desc {
    color: #999;
    font-size: 1rem;
    line-height: 1.6rem;
}


/*Properties*/

.btn3 {
    background-color: transparent;
    border: none;
    color: var(--white-color);
    padding: 8px 19px;
    border-radius: 8px;
    -webkit-border-radius: 9.5px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-left: 90%;
}

.btn3--success {
    background-color: var(--primary-color);
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 700;
}

.Properties__heading {
    font-size: 2rem;
    color: var(--primary-color);
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 1000;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 200px;
}

.Properties__sub-heading {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 19px;
    text-align: center;
    color: rgba(0, 0, 0, 0.81);
    margin-bottom: 50px;
}

.container__address4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.address__item4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4.08707px 8.17414px 7.35673px 20.0266px;
    gap: 8.99px;
    width: 213.75px;
    height: 170.02px;
    background: #FFFFFF;
    box-shadow: 12.3472px 12.3472px 24.6944px rgba(0, 0, 0, 0.05);
    border-radius: 0px 20.4354px;
}

.address__item-img {
    width: 179.83px;
    height: 104.22px;
}

.thepalace {
    display: flex;
    line-height: 5px;
}

.address_content4 {
    margin-left: 50px;
}

.address_content2 {
    margin-left: 50px;
}

.lekki {
    display: flex;
    line-height: 5px;
}

.address__img address__img--size4 {
    flex: none;
    order: 0;
    flex-grow: 0;
}

.address__img address__img--size5 {
    flex: none;
    order: 1;
    flex-grow: 0;
}

.address__img address__img--size6 {
    flex: none;
    order: 2;
    flex-grow: 0;
}